@font-face {
    font-family: 'Open Sans';
    src: url(OpenSans-VariableFont_wdth,wght.ttf) format("truetype")
    /* src: url('OpenSans-Regular.woff2') format('woff2'); */
    /* font-weight: normal;
    font-style: normal;
    font-display: swap; */
}